@model WebApplication_MVC.Models.Cats.CatCreatedViewModel
@{
    ViewData["Title"] = "Cat Created";
}

<div>
    <h1>Cat Created</h1>
</div>
<div>
    <h2 style="color: @Model.CssColor">@Model.GrandioseName</h2>
</div>


