@model WebApplication_MVC.Models.Cats.CatCreatedViewModel
@{
    ViewData["Title"] = "Cat Created";
}

<div>
    <h1>Hail the new king: </h1>
</div>
<div>
    <h2 style="color: @Model.CssColor">@Model.GrandioseName</h2>
</div>


